.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
}
.wrap{
    background-color: white;
    width: 35%;
    height: 50%;
    border-radius: 8px;
    box-shadow: 0 0 1em #cccccc;
}
p {
    margin: 8px;
    text-align: center;
}